body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.nav {
  margin: 58px 150px 100px 70px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 17%;
    justify-items: center;

    &__logoBlock {
      display: flex;

      img {
        width: 35px;
        height: 36.232px;
        flex-shrink: 0;
        margin-right: 10px;
        margin-top: -7px;
      }

      &__nameBrend {
        color: #0b132a;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &__nameBrendBold {
        color: #0b132a;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &__linkBlock {
      display: flex;

      &-click {
        color: #4f5665;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 40px;
      }
      &-click:last-child {
        margin-right: 0;
      }
    }

    &__authBlock {
      display: flex;

      &-in {
        white-space: nowrap;
        color: #0b132a;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-right: 30px;
      }

      &-upBorder {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -13px;
        width: 150px;
        height: 45px;
        flex-shrink: 0;
        border-radius: 50px;
        border: 1px solid #f53855;
        margin-right: 50px;
      }

      &-up {
        color: #f53855;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6%;
  margin: 0px 70px 104px 70px;

  &__textBlock {
    &--h1 {
      margin-bottom: 20px;
      color: #0b132a;
      font-family: Rubik;
      font-size: 50px;
      font-style: normal;
      font-weight: 500;
      line-height: 70px; /* 140% */

      > span {
        color: #0b132a;
        font-family: Rubik;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;
      }
    }

    &--p {
      margin-bottom: 50px;
      color: #4f5665;
      font-family: Rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 187.5% */

      > span {
        color: #4f5665;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
      }
    }

    &--click {
      width: 250px;
      height: 60px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #f53838;
      color: #fff;
      font-family: Rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px; /* 156.25% */
      border-color: transparent;

      > div {
        margin-top: -15px;
        margin-left: 10px;
        position: absolute;
        width: 211.829px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 10px;
        background: rgba(245, 56, 56, 0.35);
        filter: blur(27px);
      }
    }
  }

  &__imgBlock {
  }
}

@media screen and(max-width:1200px) {
  .header {
    grid-gap: 12%;
  }
}

.article {
  margin-left: 70px;
  margin-right: 70px;
  &__block {
    padding-top: 70px;
    padding-bottom: 40px;
    max-height: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: -10%;
    justify-items: center;

    &--line {
      background-color: #ccc;
      width: 1px;
      height: 125.573px;
      flex-shrink: 0;
      margin-top: -30px;
    }

    &__userInfo {
      display: flex;

      &--userImg {
        width: 55px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 70px;
        background: #ffecec;
        margin-right: 36px;
      }

      &__textInfo {
        display: flex;
        flex-direction: column;

        &--num {
          color: #0b132a;
          font-family: Rubik;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: 30px; /* 120% */
        }

        &--string {
          color: #4f5665;
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px; /* 150% */
        }
      }
    }
  }

  @media screen and(max-width:1000px) {
    &__block {
      grid-gap: 15%;
    }
  }
  @media screen and(max-width:700px) {
    &__block {
      grid-gap: 18%;
    }
  }
  @media screen and(max-width:600px) {
    &__block {
      grid-gap: 20%;
    }
  }
  @media screen and(max-width:500px) {
    &__block {
      grid-gap: 24%;
    }
  }
  @media screen and(max-width:380px) {
    &__block {
      grid-gap: 32%;
    }
  }
}

.main {
  &__block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__text {
      margin-top: 170px;
      width: 400px;
      > h2 {
        color: #0b132a;
        font-family: Rubik;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px; /* 142.857% */
      }

      > p {
        color: #4f5665;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 187.5% */
      }

      &__ul {
        list-style-type: none;
        margin-left: -40px;

        > li {
          color: #4f5665;
          font-family: Rubik;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px; /* 214.286% */

          > img {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            margin-right: 3px;
          }

          > span {
            position: absolute;
          }
        }
      }
    }
  }

  .choose {
    margin-top: 150px;
    &__head {
      margin-bottom: 60px;
      > h1 {
        color: #0b132a;
        text-align: center;
        font-family: Rubik;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px; /* 142.857% */
      }

      > p {
        color: #4f5665;
        text-align: center;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 187.5% */
      }
    }

    &__blockSelect {
      display: flex;
      justify-content: space-evenly;

      &__item {
        display: flex;
        flex-direction: column;

        width: 330px;
        height: 760px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 2px solid #ddd;
        background: #fff;
        > img {
          width: 144.904px;
          height: 165.374px;
          flex-shrink: 0;
          margin-top: 79px;
          margin-left: 90px;
          margin-bottom: 30px;
        }

        &--head {
          color: #0b132a;
          text-align: center;
          font-family: Rubik;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 166.667% */
          margin-bottom: 30px;
        }

        > ul {
          list-style-type: none;

          > li {
            color: #4f5665;
            font-family: Rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 214.286% */
            margin-bottom: 10px;
            margin-left: 30px;
          }
        }

        &--btnText {
          color: #0b132a;
          text-align: center;
          font-family: Rubik;
          font-size: 25px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 120% */
          margin-top: 70px;
          margin-bottom: 20px;
        }

        &--btn {
          width: 177.876px;
          height: 45px;
          flex-shrink: 0;
          border-radius: 50px;
          border: 2px solid #f53838;
          background-color: #fff;
          color: #f53838;
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-left: 76px;
          margin-bottom: 50px;
        }
      }
    }
  }

  &__mapSection {
    margin-top: 150px;
    &__blockItem {
      &__head {
        > h1 {
          color: #0b132a;
          text-align: center;
          font-family: Rubik;
          font-size: 35px;
          font-style: normal;
          font-weight: 500;
          line-height: 50px; /* 142.857% */
        }

        > p {
          color: #4f5665;
          text-align: center;
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px; /* 187.5% */

          > span {
            color: #4f5665;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
          }
        }
      }
      &__mapBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 155px;
      }

      &__companyBlock {
        margin-top: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}

.comment {
  margin-top: 124px;
  &__mainBlock {
    display: flex;
    flex-direction: column;

    &__head {
      > h1 {
        color: #0b132a;
        text-align: center;
        font-family: Rubik;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px; /* 142.857% */
        margin-bottom: 20px;
      }

      > p {
        color: #4f5665;
        text-align: center;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 187.5% */
      }
    }

    &__personBlock {
      margin-top: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 50px;
      margin-left: 150px;

      &__item {
        width: 400px;
        height: 230px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 2px solid #f53838;
        background: #fff;
        padding: 30px;

        &__personInfo {
          display: flex;
          &--img {
            > img {
            }
          }

          &__nameCity {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            &--name {
              color: #0b132a;
              text-align: center;
              font-family: Rubik;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 30px; /* 166.667% */
            }

            &--city {
              margin-top: -10px;
              color: #4f5665;
              font-family: Rubik;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 30px; /* 214.286% */
            }
          }

          &__star {
            margin-top: 10px;
            margin-left: 158px;
            > span {
              margin-right: 10px;
            }

            > img {
            }
          }

          &__text {
            margin-top: 20px;

            > span {
              color: #0b132a;
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 30px; /* 187.5% */
            }
          }
        }
      }

      &__pagin {
        margin-left: 150px;
        margin-right: 100px;
        display: flex;
        justify-content: space-between;

        &--btn {
          display: flex;

          &--2 {
            margin-top: 25px;
          }
        }
      }

      &__widget {
        margin-top: 80px;
        width: 980px;
        height: 233px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 150px;

        &__text {
          margin-left: 70px;
          margin-top: 25px;
          > span {
            color: #0b132a;
            font-family: Rubik;
            font-size: 35px;
            font-style: normal;
            font-weight: 500;
            line-height: 45px; /* 128.571% */
          }

          > p {
            color: #4f5665;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 187.5% */
          }
        }

        &--btn {
          margin-right: 60px;
          > button {
            width: 250px;
            height: 60px;
            flex-shrink: 0;
            border-radius: 10px;
            background: #f53838;
            color: #fff;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px; /* 156.25% */
            border-color: transparent;
          }
        }
      }
    }
  }
}

.footer {
  &__mainBlock {
    padding: 66px 150px 100px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;

    &__textBl {
      width: 340px;
      display: flex;
      flex-direction: column;

      &__logo {
        margin-bottom: 20px;
        &--name {
          color: #0b132a;
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      > p {
        margin-bottom: 30px;
        color: #4f5665;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }
    }

    &__link {
      > ul {
        list-style-type: none;
        > li {
          color: #4f5665;
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px; /* 187.5% */
          margin-top: 20px;
        }
      }
    }
  }
}
